<!DOCTYPE html>
<html>
<head>
    <title>Module Picker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="content">
        <h1>Select a Module</h1>
        <ul>
            <form method="get" action="/check">
                <input type="radio" name="last_year" value="1"> Year 1
                <input type="radio" name="last_year" value="2"> Year 2
                <input type="radio" name="last_year" value="3"> Year 3
                <input type="radio" name="last_year" value="4"> Year 4
                <input type="radio" name="last_year" value="5"> None
                {% for code, details in modules.items() %}
                    <input type="checkbox" name="passed" value="{{code}}"> {{code}} - {{details.name}}<br>
                {% endfor %}        
                <button type="submit">Check eligibility</button>
            </form>
        </ul>
    </div>
</body>
</html>