<!DOCTYPE html>
<html>
<head>
    <title>Module Picker</title>
</head>
<body>
    <h1>Select a Module</h1>
    <p> 
        <a href="/">All</a> |
        <a href="/?semester=1">Semester 1</a> |
        <a href="/?semester=2">Semester 2</a> |
        <a href="/?semester=Whole Year">Whole Year</a>
    </p>
    <ul>
        {% for code, details in modules.items() %}
            <li>{{code}} - {{details.name}} - {{details.credits}} credits - {{details.semester}} semester</li>
        {% endfor %}
    </ul>
</body>
</html>