<!DOCTYPE html>
<html>
<head>
    <title>Module Picker</title>
    <link rel="stylesheet" href="/static/style.css"
</head>
<body>
    <div class="content">
        <h1>Select a Module</h1>
        <p> 
            <a href="/">All</a> |
            <a href="/?semester=1">Semester 1</a> |
            <a href="/?semester=2">Semester 2</a> |
            <a href="/?semester=Whole Year">Whole Year</a> |
            <a href="/?year=1">Year 1</a> |
            <a href="/?year=2">Year 2</a> |
            <a href="/?year=3">Year 3</a> |
            <a href="/?year=4">Year 4</a> |
            <a href="/?year=5">Year 5/Masters</a> |
        </p>
        <ul>
            <form method="get" action="/check">
                {% for code, details in modules.items() %}
                    <input type="checkbox" name="passed" value="{{code}}"> {{code}} - {{details.name}}<br>
                {% endfor %}        
                <button type="submit">Check eligibility</button>
            </form>
        </ul>
    </div>
</body>
</html>